header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #4b8dfb ;
  text-transform: uppercase;
  
}

h1{
  color: #FFFFFF;
}

form {
    margin-top: 10rem;
}
img{
  background-image:-moz-repeating-radial-gradient(300)
}